* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial Black', Gadget, sans-serif; 
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('image/background.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem;
}

.content {
    position: absolute;
    top: 3%; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.logo {
    position: relative;
    margin-bottom: 100px;
    max-width: 200px; 
    height: auto;
}

.subtitle {
    font-family: 'Georgia', serif; 
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: italic;
    margin-bottom: 3rem;
}


.grid {

    display: grid;
    /* Crée 3 colonnes de taille égale */
    grid-template-columns: repeat(3, 1fr); 
    /* Espace entre les boîtes */
    gap: 40px; 
    width: 100%;
    max-width: 700px;
}

/* Style de chaque boîte */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
    cursor: pointer;
}


.box img {
    width: 100%;
    height: auto;
    max-width: 120px; 
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3));
}


.box:hover {
    transform: scale(1.1);
}


@media (max-width: 700px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}
